@import "../../../styles/colors.scss";

.bordo-carousel {
  border-radius: 15px;
}

.carousel-caption {
  top: 27rem;
  bottom: auto;
  h3 {
    font-family: 'NeueHaasDisplay', sans-serif;
    font-size: 50px;
    color: $electric-indigo;
    text-shadow: $nero 1px 3px 3px;
  }
}
