<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <img src="../../../assets/images/icona-zmog-wb.png" class="icona-zmog">
      <a class="navbar-brand">( LIMITED OFFERS )</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <fa-icon [icon]="faShop" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <fa-icon [icon]="faShirt" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link" href="#">Prodotti</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <fa-icon [icon]="faBasketShopping" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrello</a>
          </li>
          <fa-icon [icon]="faUser" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link" href="#">Area Riservata</a>
          </li>
          <fa-icon [icon]="faAddressCard" class="align-self-center nav-icon"></fa-icon>
          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
