<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-red">
    <div class="container-fluid">
      <img src="../../../assets/images/icona-zmog-wb.png" class="icona-zmog" routerLink="home">
      <!-- <a class="navbar-brand">( LIMITED OFFERS )</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <fa-icon [icon]="home" class="align-self-center nav-icon"></fa-icon>
            <a class="nav-link" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <fa-icon [icon]="prodotti" class="align-self-center nav-icon"></fa-icon>
            <a class="nav-link" routerLink="prodotti">Prodotti</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="authService.isLogged() && user.role === 'admin'">
            <fa-icon [icon]="nuovoProdotto" class="align-self-center nav-icon"></fa-icon>
            <a class="nav-link" routerLink="/prodotti/nuovo-prodotto">Nuovo Prodotto</a>
          </li>
          <li class="nav-item">
            <fa-icon [icon]="carrello" class="align-self-center nav-icon"></fa-icon>
            <a class="nav-link" routerLink="cart">({{numeroProdotti}}) Carrello</a>
          </li>
          <li class="nav-item user" *ngIf="!authService.isLogged()">
            <fa-icon [icon]="notLogged" class="align-self-center nav-icon"></fa-icon>
            <a class="nav-link" routerLink="login">Area Riservata</a>
          </li>
          <li class="nav-item user" *ngIf="authService.isLogged()">
            <fa-icon [icon]="logged" class="align-self-center nav-icon"></fa-icon>
            <span class="name">Ciao {{user.name}}</span>
            <a class="nav-link" routerLink="profilo"> - Profilo</a>
            <a class="nav-link" (click)="logout()"> - Esci</a>
          </li>
          <li class="nav-item">
            <fa-icon [icon]="contatti" class="align-self-center nav-icon"></fa-icon>
            <a class="nav-link" routerLink="contatti">Contatti</a>
          </li>
          <li class="nav-item">
            <input type="search" class="campo-cerca" [(ngModel)]="ricerca" placeholder="Cerca..." (keyup.enter)="risultatoRicerca()" />
            <button class="bottone-cerca" (click)="risultatoRicerca()">
              <fa-icon [icon]="cerca" class="align-self-center nav-icon"></fa-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
