<!-- <div class="card">
  <p-messages [(value)]="messages2" [enableService]="false"></p-messages>
</div> -->

<app-carousel></app-carousel>

<div class="brand-description m-2">
  <h2>Il nostro brand</h2>
  <p>Zmog è un brand d'abbigliamento dallo stile moderno e sofisticato, che si ispira alle tendenze della moda contemporanea per creare capi unici e originali. La filosofia del brand è quella di offrire abiti di alta qualità, realizzati con tessuti pregiati e attenzione ai dettagli, per una vestibilità impeccabile e un look distintivo. I capi Zmog sono progettati per un pubblico cosmopolita, che ama vestire con stile ed eleganza, ma con un tocco di originalità e personalità. <strong>Il brand si distingue per la sua attenzione all'ambiente e alla sostenibilità, utilizzando materiali ecologici e tecniche di produzione responsabili.</strong></p>
  <p>Zmog è una scelta ideale per chi cerca un brand di abbigliamento di alta qualità e dallo stile unico e distintivo.</p>
  <p>Ci impegniamo a fornire prodotti e servizi di alta qualità che rispondano alle esigenze dei nostri clienti. Il nostro obiettivo è quello di creare un'esperienza unica e memorabile per tutti coloro che entrano in contatto con il nostro brand.</p>
  <p>Se hai domande o hai bisogno di assistenza, non esitare a contattarci. Siamo sempre a disposizione per aiutarti!</p>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0608/1806/3572/products/aj1n_71c86529-6e95-4f42-9bd3-099c609db2ed_720x.jpg?v=1656676552" alt="FELPA HOODIE KMA 'SNEAKERS CULTURE' AJ1">
      <p>FELPA HOODIE KMA 'SNEAKERS CULTURE' AJ1</p>
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0608/1806/3572/products/bianca_9d5dd99a-8165-41b2-ae42-0f4ef253aea8_720x.jpg?v=1675784568" alt="T-SHIRT KISS MY AIRS GROWTH">
      <p>T-SHIRT KISS MY AIRS GROWTH</p>
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0608/1806/3572/products/amournera_720x.jpg?v=1669223525" alt="T-SHIRT MONEY MAKERZ AMOUR">
      <p>T-SHIRT MONEY MAKERZ AMOUR</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0608/1806/3572/products/felpabianca_277f2518-944b-4228-a080-5455ab2c05e7_720x.jpg?v=1675846854" alt="FELPA HOODIE KISS MY AIRS NO PRESSURE">
      <p>FELPA HOODIE KISS MY AIRS NO PRESSURE</p>
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0608/1806/3572/products/VIOLA_8b678d5e-124f-4a90-b047-43854518927c_720x.jpg?v=1675777956" alt="T-SHIRT NOTRE SPREAD LOVE (LIMITED EDITION)">
      <p>T-SHIRT NOTRE SPREAD LOVE (LIMITED EDITION)</p>
    </div>
    <div class="col">
      <img src="https://cdn.shopify.com/s/files/1/0608/1806/3572/products/BIANCA_aeb6e711-f456-446f-8d92-49467fbddd0b_720x.jpg?v=1675785116" alt="T-SHIRT KISS MY AIRS YOU GO">
      <p>T-SHIRT KISS MY AIRS YOU GO</p>
    </div>
  </div>
</div> -->

<section class="container">
  <h2 class="testo-evidenza">PRODOTTI IN EVIDENZA</h2>
  <app-product-card [pag]="'home'"></app-product-card>
</section>

<ng-template [ngIf]="utenteRegistrato">
  <div id="container-utente">
    <div id="dati-utente">
      <h2>Grazie {{utenteRegistrato.name}} per esserti registrato, ecco i tuoi dati:</h2>
      <hr class="bordino-popup">
      <ul>
        <li>Nome: {{utenteRegistrato.name}}</li>
        <li>Email: {{utenteRegistrato.email}}</li>
      </ul>
      <hr class="bordino-popup">
      <button class="btn btn-primary btn-lg" (click)="closeModal()">Chiudi</button>
    </div>
  </div>
</ng-template>
