<app-carousel></app-carousel>

<!-- <video id="video-home" muted autoplay>
  <source src="../../../assets/images/video-home.mp4" type="video/mp4">
</video> -->

<div class="brand-description m-2">
  <h2>Il nostro brand</h2>
  <p>Zmog è un brand d'abbigliamento dallo stile moderno e sofisticato, che si ispira alle tendenze della moda contemporanea per creare capi unici e originali. La filosofia del brand è quella di offrire abiti di alta qualità, realizzati con tessuti pregiati e attenzione ai dettagli, per una vestibilità impeccabile e un look distintivo. I capi Zmog sono progettati per un pubblico cosmopolita, che ama vestire con stile ed eleganza, ma con un tocco di originalità e personalità. <strong>Il brand si distingue per la sua attenzione all'ambiente e alla sostenibilità, utilizzando materiali ecologici e tecniche di produzione responsabili.</strong></p>
  <p>Zmog è una scelta ideale per chi cerca un brand di abbigliamento di alta qualità e dallo stile unico e distintivo.</p>
  <p>Ci impegniamo a fornire prodotti e servizi di alta qualità che rispondano alle esigenze dei nostri clienti. Il nostro obiettivo è quello di creare un'esperienza unica e memorabile per tutti coloro che entrano in contatto con il nostro brand.</p>
  <p>Se hai domande o hai bisogno di assistenza, non esitare a contattarci. Siamo sempre a disposizione per aiutarti!</p>
</div>

<section class="container">
  <h2 class="testo-evidenza">PRODOTTI IN EVIDENZA</h2>
  <app-product-card [pag]="'home'"></app-product-card>
</section>

<ng-template [ngIf]="utenteRegistrato">
  <div id="container-utente">
    <div id="dati-utente">
      <h2>Grazie {{utenteRegistrato.name}} per esserti registrato, ecco i tuoi dati:</h2>
      <hr class="bordino-popup">
      <ul>
        <li>Nome: {{utenteRegistrato.name}}</li>
        <li>Email: {{utenteRegistrato.email}}</li>
      </ul>
      <hr class="bordino-popup">
      <button class="btn btn-primary btn-lg" (click)="closeModal()">Chiudi</button>
    </div>
  </div>
</ng-template>
