@import "../../../styles/colors.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col {
  width: calc((100% / 3) - 10px);
  margin-bottom: 20px;
}

.col p {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.col img {
  width: 100%;
  height: auto;
  cursor: pointer;
}


.brand-description {
  background-color: $sale-marino;
  // background-color: #a98f73;
  border: 2px solid $silver;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.brand-description h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  margin-bottom: 10px;
  color: $viola;
  text-align: center;
}

.brand-description p {
  margin-bottom: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 21px;
  line-height: 1.5;
  color: $jet;
  text-align: justify;
}

/* Stile generale della sezione "Prodotti in evidenza" */
.container {
  margin-top: 50px;
  text-align: center;

  h2 {
    margin-bottom: 30px;
    font-family: 'NeueHaasDisplay', sans-serif!important;
  }
}

/* Stile delle card */
.card {
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-title {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .card-text {
    margin-bottom: 10px;
  }

  .card-body h5 {
    font-family: 'NeueHaasDisplay', sans-serif;
    font-size: 20px;
  }

  .card-body p, a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-primary {
  background-color: $azure;
  border-color: $azure;
  margin-top: 10px;
}

.btn-primary:hover {
  background-color: $viola;
  border-color: $viola;
}

div#container-utente {
  background: #000000b0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  top: 0px;
  z-index: 10;

  div#dati-utente {
    background: white;
    width: 60%;
    border: 5px solid $viola;
    border-radius: 30px;
    padding: 16px;

    h2 {
      font-size: 30px!important;
      text-align: center;
    }

    .bordino-popup {
      border: none;
      width: 100%;
      color: transparent;
      border-bottom: 1px solid $viola;
      height: 1px;
      margin: 20px 0;
    }

    ul {
      height: 90px;
      margin-top: 33px;
      font-size: 18px;
      text-align: center;

      li {
        line-height: 40px;
        list-style-type: none;
      }
    }

    button.btn.btn-primary.btn-lg {
      width: 50%;
      margin-left: 25%;
      background: $viola;
    }
  }
}
