// Primary colors
$viola: #5307aa;
$sale-marino: #F8F8F8;
$silver: #ccc;
$jet: #333;
$azure: #007bff;
$electric-indigo: #710ce6;
$paginator: #720ce6ad;

// Secondary colors
$bianco: white;
$grigio-chiaro: rgb(167, 167, 167);
$grigio-medio: rgb(73, 73, 73);
$grigio-scuro: rgb(46, 46, 46);
$nero: black;
$selettore: #9940ff;
$selettore-testo: #6d7385;
$bordino: #8b8b8b;
$prezzo: #a30c0cd8;
$warning: #FFECB3;
