<div class="container-fluid">
  <h2 id="titolone">TEMPI DI CONSEGNA</h2>
  <div class="contenuto">
    <div id="descrizione">
      <p>Tutti i nostri capi vengono realizzati artigianalmente uno ad uno al momento dell'ordine, questo per garantirti una miglior qualità del prodotto al miglior prezzo.</p>
      <p>Facciamo del nostro meglio per evadere gli ordini nel minor tempo possibile ma il nostro metodo di lavoro a volte può essere più lento di molti altri store, per tanto se pensi di acquistare da noi aspettandoti la velocità di amazon o simili, non acquistare, rimarresti forse deluso... </p>
      <p>I tempi di lavorazione dell'ordine in media sono di 3/7 giorni lavorativi ma  possono variare a seconda dei periodi ed al volume degli ordini (es: black friday, Natale, saldi e Fuori Tutto o particolari promozioni da parte nostra) in questo caso i tempi possono essere più lunghi ed in rari casi superare anche il mese solare. </p>
      <p>Utilizziamo corriere espresso SDA, i tempi di spedizione variano dalle 24 alle 72 ore (salvo ritardi).</p>
      <p>I costi di spedizione sono:</p>
      <p>€ 5,90 consegna standard espressa</p>
      <p>€ 7,90 consegna premium assicurata</p>
      <p><strong>ATTENZIONE: in caso di ritardi o mancata disponibilità del prodotto non verrà mandata nessuna comunicazione, il cliente acquista la merce consapevole delle tempistiche scritte sopra.</strong></p>
    </div>
  </div>
</div>
