<div class="container-fluid">
  <h2 id="titolone">RESI E SOSTITUZIONI</h2>
  <div class="contenuto">
    <div id="descrizione">
      <p>Se hai avuto un problema con il tuo ordine  e devi effettuare un cambio\reso ecco cosa devi fare:</p>
      <p>- scarica e stampa il modulo di reso/sostituzione cliccando <a href="https://drive.google.com/file/d/1ART-vHSZw0LCwGtZ2TV15Iv56MYGprzr/view?usp=sharing"><strong>qui</strong></a> e compilalo inserendo le informazioni richieste.</p>
      <p>- Imballa accuratamente la merce in una busta da spedizioni o una scatola inserendo al suo interno il modulo di reso/sostituzione compilato accuratamente e spedisci il tutto a questo indirizzo:</p>
      <p><strong>Zmog</strong> - via Roma 0, 00193 Roma (RM)</p>
      <p>Non appena riceveremo la merce, verrà effettuato un <strong>buono sconto</strong> di pari importo a ciò che è stato acquistato (escluse spese di spedizione) per effettuare nuovamente l'ordine con la taglia corretta, oppure per un futuro acquisto sul sito.</p>
      <p>Ti ricordiamo che il capo deve trovarsi nelle stesse condizioni nella quale è stato spedito e deve essere rispedito entro 7 giorni dalla data di consegna, in caso contrario il reso non verrà accettato e la merce rispedita a vostro carico.</p>
      <p>Le spese di spedizione sono a carico dell'acquirente a meno che non ci sia stato un errore da parte nostra o il capo risulta difettoso, in tal caso ti invitiamo a scriverci al nostro numero di assistenza whatsapp +39 3312376311 per organizzare il ritiro a carico nostro.</p>
      <p>NB: Se in fase di acquisto i costi di spedizione sono stati pari a 0 per un eventuale promo, in fase di reso verranno comunque calcolati a carico dell'acquirente e sottratti dall'importo di reso per un tot di 10€ (costi spedizione ed imballaggio).</p>
      <p>Sconsigliamo la spedizione con poste italiane, se non avete un corriere di fiducia vi consigliamo di utilizzare il servizio di spedizione on line di www.spediamo.it, più economico e veloce.</p>
    </div>
  </div>
</div>
