.container-titolo {
  h2 {
    font-size: 35px;
    // font-family: 'Homemade Apple', cursive;
    font-family: 'PT Mono', monospace;
    color: purple;
  };
  .paragrafo {
    color: green;
    font-size: 20px;
  }
}

.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 15px;
  // padding-top: 2px;
  // margin-right: 5px;
}

.icona-zmog
{
  width: 80px;
  height: 50px;
  margin-right: 10px;
}
