@import "../../../styles/colors.scss";

.card-container {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.6%;
  margin-bottom: 20px;

  .card {
    border-radius: 15px!important;
    min-height: 420px;
  }

  .card-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0!important;
  }

  .card-body {
    text-align: center;

    .card-title {
      font-family: 'Bebas Neue', cursive;
      font-size: 23px;
      color: $viola;
      margin: 2px;
    }

    .card-text {
      text-align: justify;
      margin: 0 0 30px;
    }

    .card-price {
      font-family: 'Bebas Neue', cursive;
      font-size: 23px;
      color: $viola;
    }

    a.btn.btn-primary {
      background: $viola;
      border: none;
      margin: auto;
      padding: 8px 35px;
    }
  }
}
