<ng-template [ngIf]="loading" [ngIfElse]="load">
  <div class="caricamento">
    <div class="spinner">
      <div class="spinnerin"></div>
    </div>
  </div>
</ng-template>
<ng-template #load>
  <div *ngIf="pag != 'home'">
    <div class="selettore-tipo">
      <button class="bottone" (click)="getProdotti('all')">ALL</button>
      <button class="bottone" (click)="getProdotti('felpa')">FELPE</button>
      <button class="bottone" (click)="getProdotti('t-shirt')">T-SHIRT</button>
      <button class="bottone" (click)="getProdotti('scarpe')">SNEAKERS</button>
      <button class="bottone" (click)="getProdotti('gadget')">GADGETS</button>
    </div>
    <h2>I NOSTRI PRODOTTI</h2>
  </div>
  <div class="container-cards">
    <div class="container-pagination" *ngIf="pag != 'home'">
      <div class="frase-paginator">
        <strong>{{prodottiPerPagina}}</strong> prodotti su un totale di <strong>{{prodottiTotali}}</strong> prodotti | pagina corrente: <strong>{{page}}</strong>
      </div>
      <p-paginator (onPageChange)="paginate($event)" [rows]="prodottiPerPagina" [totalRecords]="prodottiTotali" (rowsPerPageOptionsChange)="prodottiPerPagina"></p-paginator>
    </div>
    <div class="card-container" *ngFor="let product of products | slice: (page * prodottiPerPagina) - prodottiPerPagina : page * prodottiPerPagina">
      <div class="card">
        <div class="card-image" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description| slice: 0:50}}...</p>
          <h5 class="card-price">{{product.price | currency: 'EUR'}}</h5>
          <a class="btn btn-primary" routerLink="dettaglio/{{product.title}}/{{product._id}}" *ngIf="!pag">Visualizza</a>
          <a class="btn btn-primary" routerLink="/prodotti/dettaglio/{{product.title}}/{{product._id}}" *ngIf="pag">Dettaglio</a>
          <a class="btn btn-primary delete" *ngIf="ruolo === 'admin'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline>
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<p-toast position="bottom-right"></p-toast>
