<div class="container-fluid">
  <h2 id="titolone">ASSISTENZA CLIENTI</h2>
  <div class="contenuto">
    <p id="pretesto">
      HAI BISOGNO DI ASSISTENZA O DI METTERTI IN CONTATTO CON NOI?
    </p>
    <p id="clausole"><span style="color: #2b00ff;"><strong>Leggi bene ciò che è scritto qui sotto per poterti indirizzare correttamente al canale di assistenza più adatto alle tue esigenze:</strong></span></p>
    <div id="descrizione">
      <p>Per domande generiche o assistenza in fase di acquisto vi invitiamo a contattarci tramite direct sulla nostra pagina instagram @gabagnepapi<br>Non rispondiamo ad informazioni relative a ordini già effettuati.</p>
      <p><a href="https://www.instagram.com/gabagnepapi" style="color: #000;">https://www.instagram.com/gabagnepapi</a></p>
      <p>Per informazioni sullo stato dell'ordine prima di contattarci per chiedere info sulla spedizione, al fine di snellire i messaggi e migliorare la nostra assistenza, vi chiediamo di leggere bene la nostra sezione dedicata sui tempi di consegna al seguente link:</p>
      <p><a href="https://notforresale.it/pages/tempi-di-consegna-e-costi" style="color: #000;">https://notforresale.it/pages/tempi-di-consegna-e-costi</a></p>
      <!-- <p>&nbsp;</p> -->
      <p>Per assistenza tecnica sul vostro ordine puoi contattarci tramite whatsapp al numero +39 3312376311 (non rispondiamo a chiamate).</p>
      <!-- <p>&nbsp;</p> -->
      <p>L'assistenza è attiva&nbsp;dal Lunedì al Venerdì dalle 9:00 alle 17:30, i tempi di&nbsp;risposta sono variabili, si prega quindi di mandare 1 messaggio ed attendere risposta.&nbsp;</p>
      <p><strong>I messaggi inviati durante il weekend verranno letti il lunedì successivo.</strong></p>
    </div>
  </div>
</div>
