@import "../../../../styles/colors.scss";

.container-lato-sx{
  position: relative;
}
.container-prodotto-image {
  position: relative;
  margin: 10%;
  width: 70%;
  color: var(--bianco);
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);

  img {
    position: relative;
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
  }
}

.prodotto-title {
  margin-top: 50px;
  h2 {
    color: $nero!important;
    font-size: 40px!important;
    font-family: 'NeueHaasDisplay', sans-serif!important;
  }
}

.prodotto-price {
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 30px;
  color: $prezzo;
  margin-bottom: 40px;
}

.bordino-dettagli {
  border: none;
  width: 100%;
  color: transparent;
  border-bottom: 1px solid $bordino;
  height: 1px;
  margin: 20px 0;
}

.frase-selettore {
  display: flex;
  align-items: center;

  .icona-stampella {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  h1 {
    font-family: 'NeueHaasDisplay', sans-serif;
    text-align: center;
    margin-top: 2%;
  }
}

.testo-label {
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

.testo-feedback {
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.testo-taglie {
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}



.taglie {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .tasto {
    display: inline-block;
    width: 61px;
    height: 46px;
    margin: 5px;
    font-family: 'NeueHaasDisplay', sans-serif;
    font-size: 16px;
    color: $selettore-testo;
    background-color: $bianco;
    border: 1px solid $selettore-testo;
    margin: 5px;
    cursor: pointer;
  }

  .unavailable {
    color: #637381f6;
    background-color: #0000000d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(99, 115, 129, 0.2)' stroke-width='0.4' preserveAspectRatio='none' %3E%3Cline x1='24' y1='0' x2='0' y2='24'%3E%3C/line%3E%3C/svg%3E");
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }

  .tasto:hover {
    background-color: $silver;
  }
  .tasto:focus {
    outline: none;
    background-color: $selettore;
    color: white;
  }
}

.selettore-quantita {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 8px;
}

.selettore-quantita button {
  background-color: #f2f2f2;
  border: none;
  color: $selettore-testo;
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 25px;
  padding: 8px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  width: 47px;
  height: 47px;
}

.selettore-quantita button:hover {
  background-color: #ddd;
}

.selettore-quantita span {
  font-size: 18px;
  font-weight: bold;
  margin: 0 8px;
}

.selettore-quantita input {
  width: 46px;
  height: 46px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
}

.selettore-quantita input:focus {
  outline: none;
  border-color: #007bff;
}

.button-carrello {
  background-color: $grigio-chiaro;
  border: 1px solid $electric-indigo;
  color: $bianco;
  padding: 20px 40px; /* spazio interno */
  text-align: center; /* allineamento testo */
  display: inline-block; /* display */
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 18px;
  margin: 15px 2px; /* margini */
  cursor: pointer;
}

.prodotto-description {
  white-space: pre-line;
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 15px;
  line-height: 3.2;
  color: $grigio-chiaro;
}

.card-feedback {
  padding: 10px;
  width: 60%;
}

// Rating preso da Uiverse
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
  justify-content: flex-end;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked + svg,
.rating label:has(input:checked) ~ label svg {
  transition: 0s;
  /* Hopefully firefox gets :has support soon w/o feature flag */
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}


