
h2#titolone {
  display: flex;
  justify-content: center;
  font-size: 40px!important;
  font-family: 'NeueHaasDisplay'!important;
  margin-top: 20px;
}

.container-fluid {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .cart-container{
    width: 70%;
    max-height: 80%;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;

    .cart-container::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: #7963da;
    }

    .cart-container::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }

    .header{
      margin: auto;
      width: 90%;
      height: 15%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .heading{
      font-size: 20px;
      font-family: 'NeueHaasDisplay', sans-serif;
      font-weight: 700;
      color: #2F3841;
    }

    .action{
      font-size: 14px;
      font-family: 'NeueHaasDisplay';
      font-weight: 600;
      color: #E44C4C;
      cursor: pointer;
      border-bottom: 1px solid #E44C4C;
    }

    .cart-empty {
      font-size: 20px;
      font-family: 'NeueHaasDisplay', sans-serif;
      font-weight: 700;
      color: #2F3841;
      display: flex;
      justify-content: center;
    }

    .Cart-Items{
      margin: auto;
      width: 90%;
      height: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .image-box{
        width: 15%;
        text-align: center;
        .img-prod {
          height: 200px;
          width: 200px;
        }
      }

      .about{
        height: 100%;
        max-width: 70%;
      }

      .title{
        padding-top: 5px;
        line-height: 40px;
        font-size: 32px;
        font-family: 'NeueHaasDisplay';
        font-weight: 800;
        color: #202020;
        margin-left: 30px;
      }

      .subtitle{
        line-height: 20px;
        font-size: 18px;
        font-family: 'NeueHaasDisplay';
        font-weight: 600;
        color: #909090;
        margin-left: 30px;
      }

      .prices{
        height: 100%;
        text-align: right;
      }

      .amount{
        padding-top: 20px;
        font-size: 26px;
        font-family: 'NeueHaasDisplay';
        font-weight: 800;
        color: #202020;
      }
      .save{
        padding-top: 5px;
        font-size: 14px;
        font-family: 'NeueHaasDisplay';
        font-weight: 600;
        color: #1687d9;
        cursor: pointer;
      }
      .remove{
        padding-top: 5px;
        font-size: 14px;
        font-family: 'NeueHaasDisplay';
        font-weight: 600;
        color: #E44C4C;
        cursor: pointer;
      }
    }

    hr{
      width: 66%;
      float: right;
      margin-right: 5%;
    }

    .checkout{
      float: right;
      margin-right: 5%;
      width: 28%;

      .total{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .Subtotal{
        font-size: 22px;
        font-family: 'NeueHaasDisplay';
        font-weight: 700;
        color: #202020;
      }

      .items{
        font-size: 16px;
        font-family: 'NeueHaasDisplay';
        font-weight: 500;
        color: #909090;
        line-height: 10px;
      }

      .total-amount{
        font-size: 36px;
        font-family: 'NeueHaasDisplay';
        font-weight: 900;
        color: #202020;
      }

      .checkout-btn {
        .button{
          margin-top: 10px;
          width: 100%;
          height: 60px;
          border: none;
          background: linear-gradient(to bottom right, #ffb8b8, #fa3e3e);
          border-radius: 20px;
          cursor: pointer;
          font-size: 18px;
          font-family: 'NeueHaasDisplay';
          font-weight: 600;
          color: #202020;
        }

      }
    }

    div#paypal-button-container {
      width: 38%;
      display: grid;
      margin-top: 10%;
      margin-left: 50%;
      justify-content: end;
    }
  }
}

@media only screen  and (min-width: 320px) and (max-width: 480px) {
  .container-fluid {
    height: 70vh;

    .cart-container {
      width: 90%;
      max-height: 90%;
      .Cart-Items {
        display: inline-block;
        .image-box {
          .img-prod {
            height: 110px;
            width: 110px;
          }
        }

        .title {
          line-height: 20px;
          font-size: 20px;
          margin-left: 20px;
        }
        .subtitle {
          line-height: 0px;
          font-size: 15px;
        }
        .prices {
          margin-top: -25%;
        }
      }
      .checkout {
        width: 90%;
        .total-amount {
          font-size: 30px;
        }
        .checkout-btn {
          .button {
            height: 45px;
            font-size: 16px;
          }
        }
      }
      div#paypal-button-container {
        width: 25%;
      }
    }
  }
}

@media only screen  and (min-width: 481px) and (max-width: 768px) {
  .container-fluid {
    height: 70vh;

    .cart-container {
      width: 95%;
      max-height: 90%;
      .Cart-Items {
        display: flex;
        .image-box {
          .img-prod {
            height: 110px;
            width: 110px;
          }
        }

        .title {
          line-height: 20px;
          font-size: 20px;
          margin-left: 20px;
        }
        .subtitle {
          line-height: 0px;
          font-size: 15px;
        }
        .prices {
          margin-top: 0%;
        }
      }
      .checkout {
        width: 90%;
        .total-amount {
          font-size: 30px;
        }
        .checkout-btn {
          .button {
            height: 45px;
            font-size: 16px;
          }
        }
      }
      div#paypal-button-container {
        width: 13%;
      }
    }
  }
}

@media only screen  and (min-width: 769px) and (max-width: 1024px) {
  .container-fluid {
    height: 70vh;

    .cart-container {
      width: 95%;
      max-height: 90%;

      .Cart-Items {
        display: flex;

        .image-box {
          width: 20%;

          .img-prod {
            height: 160px;
            width: 160px;
          }
        }

        .title {
          line-height: 20px;
          font-size: 20px;
          margin-left: 20px;
        }
        .subtitle {
          line-height: 0px;
          font-size: 15px;
        }
        .prices {
          margin-top: 0%;
        }
      }

      .checkout {
        width: 90%;

        .total-amount {
          font-size: 40px;
        }

        .checkout-btn {

          .button {
            height: 45px;
            font-size: 20px;
          }
        }
      }
      div#paypal-button-container {
        width: 11%;
      }
    }
  }
}

@media only screen  and (min-width: 1025px) and (max-width: 1200px) {
  .container-fluid {
    height: 70vh;

    .cart-container {
      width: 95%;
      max-height: 90%;

      .Cart-Items {
        display: flex;

        .image-box {
          width: 20%;

          .img-prod {
            height: 160px;
            width: 160px;
          }
        }

        .title {
          line-height: 20px;
          font-size: 20px;
          margin-left: 20px;
        }
        .subtitle {
          line-height: 0px;
          font-size: 15px;
        }
        .prices {
          margin-top: 0%;
        }
      }

      .checkout {
        width: 90%;

        .total-amount {
          font-size: 40px;
        }

        .checkout-btn {

          .button {
            height: 45px;
            font-size: 20px;
          }
        }
      }
      div#paypal-button-container {
        width: 11%;
      }
    }
  }
}
